.main {
  height: 100vh;
  overflow: hidden;
  
  background-image: linear-gradient(
    
    #11B7EB 0%, 
    #11B7EB 60%, 
    
    /* Second Color: Green, starting immediately at 50% and continuing to 100% */
    #82C83D 40%, 
    #82C83D 100%
  );
}
.folder {
  height: 10vh;
  width: 10vh;
  background-image: url(src/folder.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
}
.taskbar {
  position: absolute;
  bottom: 0;
  background-color: #D4D0C8;
  height: 40px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.logoimage {
  position: absolute;
  height: 39px;
  width: auto;
  margin-right: 20px;
  bottom: 0;
}
.foldercontainer {
  display: table-footer-group;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.logolabel {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: white;
}
.desktop {
  display:inline-grid;
}

.modalcontainer {
  padding: 10px;
  text-align: left;
  background-color: silver;
  height: 50vh;
  width: 50vh;
  position: fixed;
  color: black;
  right: 50%;
  overflow-y: auto;
  scrollbar-color: #C0C0C0 #FFFFFF ; /* Firefox styling */
  scrollbar-width: thick;
  display: none;
  cursor: default;

}
.modalcontainer.active{
  display: block;
}
.modalcontainer2 {
  padding: 10px;
  text-align: left;
  background-color: silver;
  height: auto;
  width: 70vh;
  position: fixed;
  color: black;
  right: 10%;
  top: 30%;
  overflow-y: auto;
  scrollbar-color: #C0C0C0 #FFFFFF ; /* Firefox styling */
  scrollbar-width: thick;
  display: none;

}
.modalcontainer2.active {
  display: block;
}
.closebutton {
  position: absolute;
  top: 4px; /* Position relative to the window container */
  right: 4px;
  width: 16px;
  height: 14px;
  background-color: #C0C0C0;
  color: #000000;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  padding: 1px;
  cursor: pointer;
  
  /* Sunken 3D Effect for the button */
  border-style: solid;
  border-width: 1px;
  border-color: #808080 #FFFFFF #FFFFFF #808080;
}
